* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}

.container1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 23px;
    background: linear-gradient(to bottom, #f8dcc2 50%, #d0f3f7 50%);
}

.calculator1 {
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
    display: grid;
    grid-template-columns: repeat(4, 68px);
}

.calinput {
    grid-column: span 4;
    height: 70px;
    width: 260px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f2f6fa;
    box-shadow: inset -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
    border: none;
    border-radius: 30px;
    color: rgb(70, 70, 70);
    font-size: 50px;
    text-align: end;
}

.calbutton {
    height: 48px;
    width: 48px;
    margin: 8px;
    font-size: 16px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
    border: none;
    border-radius: 50%;
}

.calbutton:hover {
    box-shadow: inset 5px 5px 8px rgba(16, 16, 16, 0.1), inset -5px -5px 8px #fff;
    background: #fff;
}

.equal {
    border-radius: 40px;
    background-color: #ecf0ec;
    box-shadow: inset -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
}